/* You can add global styles to this file, and also import other style files */
body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}